*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  letter-spacing: 3px;
  padding: 1.2rem;
}
.container {
  background-color: #36ff5a;
  display: flex;
  justify-content: center;
  width: 10%;
  padding: 2rem 10rem;
  text-align: center;
  border-radius: 5px;
  margin: auto;
  box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.2);
}
input[type='submit'] {
  margin-top: 2rem;
  border-radius: 100px;
  padding: 8px;
  border: none;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: #2dcf4a;
  border: 1px solid darkgreen;
  transition: box-shadow 0.2s ease-out;
}
input[type='submit']:active {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.8);
}
.form-control:not(:last-child) {
  margin-bottom: 5px;
}
.invalid-feedback {
  border: 1px solid #d72d38;
  background-color: #d57077;
}
